.profil_gamer {
	background: #000;
	border: 2px solid $border_color_block;
	&.with-picture {
		margin-top: 90px;
	}
	
	.picture {
		position: relative;
		text-align: center;
		margin: auto;
		margin-top: -90px;
		overflow: hidden;
		max-width: 175px;
		height: 175px;
		border-radius: 50%;
		border: 5px solid #ccc;
		background-size: cover;
		
		img {
			width: 100%;
		}
	}
	
	.fiche {
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 40px;
		
		.item {
			padding: 10px;
			border-bottom: 2px solid $border_color_block;
			margin-top: 10px;
			color: #ccc;
			label {
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 0px;
			}
			span {
				font-weight: 700;
				display: inline-block;
				float: right;
			
			}
			a {
				color: #fff;
			}
			
			
		}
		
	}
	
	.submit {
		text-align: center;
		
		a {
			background: $background-link-hover url(../images/edit_profil.png) no-repeat;
			background-position: 10px center;
			padding: 10px;
			padding-left: 35px;
			display: inline-block;
			margin-bottom: 20px;
			text-transform: uppercase;
			color: #fff;
		}
	}
}


@media (min-width: $container-992) {
	.panels-flexible-region-2-zone_player_left  {
		float: none;
		margin: auto;
	}
}


.block-reactions, .block-activity {
	@media (min-width: $container-992) {
		margin-top: 20px;
	}
	@media (min-width: $container-1200) {
		margin-top: 0px;
	}
	background: $background-color_box;
	.entete {
		background: $background-link-hover url(../images/reactions.png) no-repeat;
		background-position: 20px center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		padding-left: 60px;
		line-height: 40px;
		
	}
	
	.item {
		margin-left: 50px;
		margin-right: 50px;
		
		line-height: 50px;
		@include flex(row);
		label {
			text-transform: uppercase;
			margin-bottom: 0;
		}
		
		div:nth-child(1) {
			text-transform: uppercase;
			margin-bottom: 0px;
			font-weight: 700;
			@include flex_length(1);

			span {
				display: inline-block;
				width: 100px;
			}
		}
		div:nth-child(2) {
			float: right;
			margin: auto;
			margin-right: 10px;
			line-height: 30px;
			width: 30px;
			height: 30px;
			text-align: center;
		}

		div.score {
			background: $background-link-hover;
			border-radius: 50%;
		}

		border-top: 1px solid #777;
		&.item-amazing, &.posts {
			border-top: none;
		}
	}
	
	.posts {
		background: url(../images/posts.png) no-repeat;
		background-position: left center;
	}
	.comments {
		background: url(../images/comments.png) no-repeat;
		background-position: left center;
	}
}

.block-activity {
	.entete {
		background: $background-link-hover url(../images/interactions.png) no-repeat;
		background-position: 20px center;
	}
	.item {
		padding-left: 40px;
	}
	
}
.page-user {
	#admin-notice {
		background: #fff;
		border-top: 10px solid $background-link-hover;
		padding: 20px;
		padding-left: 40px;
		color: #000;

		.pane-title {
			color: #000;
			text-transform: uppercase;
			font-size: 20px;
			margin-bottom: 10px;
		}
	}


	.right-column {
		margin-top: 20px;
		@media(min-width: $container-1200) {
			margin-top: 0;
		}
	}

	.center-column {
		margin-top: 20px;
		@media(min-width: $container-992) {
			margin-top: 0;
		}
	}

	
}

	#game-status, .game-status {
		.pane-title, .titre-bloc {
			text-transform: uppercase;
			background: url(../images/game_status.png) no-repeat left center;
			padding-left: 50px;
			line-height: 40px;
			font-size: 22px;
			margin: 0;
			margin-bottom: 10px;
		}
		.content-status {
			background: #1c1c1c url(../images/border_game_status.jpg) no-repeat left center;
			height: 52px;
			line-height: 52px;
			padding-left: 20px;

		}
	}

	.game-status {
		margin-bottom: 20px;
	}
