/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

$border_color_block: #6B6B6B;
$background-color: #313131;
$background-color_box: #3B3B3B;
$screen-smartphone: 200px;
$screen-xs-min: 750px;
$screen-md: 992px;
$container-lg: 1680px;
$container-medium: 1200px;
$screen-lg-min: $container-lg;
$breadcrumb_color: #C5B082;
$background-header-forum: #222222;
$background-topic-forum: #3B3B3B;
$color-topic-title: #E7B84E;
$background-top-header: #1e1e1e;

$container-1680: 1680px;
$container-1200: 1200px;
$container-992: 992px;
$container-750: 750px;
$container-500: 500px;
$container-200: 200px;

$height-header-top-smart: 70px;
$height-header-top: 45px;

// $grid-float-breakpoint: 992px;
$menu-height: 85px;
$screen-tablette: 768px;

$navbar-inverse-link-hover-bg: #DE0022;
$navbar-inverse-link-active-bg: #DE0022;
$background-link-hover:  #DF312B; //#E0222B;


$post-img-lg: 252px;
$post-img-medium: 170px;
$post-img-xs: 170px;

$lateral-post-height-lg: 195px;
$lateral-post-height-medium: 128px;
$lateral-post-height-medium-court: 105px;

$texte_forum_color: #EBAC37;

@mixin flex($dir) {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: $dir;
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
}

@mixin flex_important($dir) {
    display: flex!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    flex-direction: $dir;
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;

}

@mixin flex_length($l) {
    flex: $l;
    -webkit-flex: $l;
    -ms-flex: $l;
}

@mixin flex_wrap($w) {
	flex-wrap: $w;
	-webkit-flex-wrap: $w;
	-ms-flex-wrap: $w;
}


@mixin menu_user() {
				.menu {
					margin: 0;
		
					li {
						a {
							text-transform: none;
							color: #ccc;
							
							font-weight: 700;	
							margin-left: 10px;

							padding-top: 0;
							padding-bottom: 0;
						    padding: 3px 8px;
							padding-left: 15px;
							&:hover {
								background: none;
								text-decoration: underline;
							}
						}

						&.last {
							a {
							}
							
						}
						&.first {
							border-left: none;
						}
					}
				}
	
}


@mixin bloc_news() {
			margin: 0;
			padding: 0;
			margin-bottom: 20px;
			position: relative;
			
			
			overflow: hidden;
		
			.views-field-field-image {
				float: none;
				
				img {
					width: 100%;
					min-width: 150px;
				}
				
				.open-post {
					cursor: pointer;
				}
				
			}

			

			.group-data {
				position: absolute;
				
				margin: 0;
				min-height: 140px;

				bottom: 0;
				background: #222;
				background: rgba(0,0,0,0.8);
				width: 100%;

				padding-left: 20px;
				padding-right: 10px;
				@media(min-width: $container-1200) {padding-top: 10px;}
				@media(min-width: $container-1680) {padding-top: 20px;}
				padding-bottom: 10px;
				padding-top: 20px;
				font-weight: bold;
				color: #fff;
				max-height: 140px;

				.date-ago, .latest-news {
					display: inline-block;
					text-transform: uppercase;
				}
				.date-ago {
					margin-right: 20px;
				}

				a {
					text-transform: uppercase;
					font-size: 26px;
					font-weight: bold;
				}


			}


			.last-update {
				display: none;
			}
	
}
